:root {
  --cor-placeholder: #757575;
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

#Login {
    background-color: #f2e9cf;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

  /*Título*/
  h1 {
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: #305c52;
    text-shadow: 2px 2px #c3bfae;
    margin-bottom: 0;
  }

  /*Título da tela*/
  h3 {
    color: #305c52;
    font-size: 22px;
    margin: 10px 0 5px;
  }

  /*Instrução*/
  p {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 350px;
  }

  /*Caixas de texto*/
  form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  input[type="email"],
  input[type="name"],
  input[type="password"]{
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 10px;
  }

  /*Button*/
  button {
    background-color: #3a776a; 
    color: white;
    border: none;
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
  }

  button:hover {
    background-color: #2b5c51;
  }

  /*escrita dentro do button*/
  div {
    text-align: center;
  }

  /*Termos*/
  footer, small {
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 1.2; 
    margin: 0; 
    padding: 0;
  }
}

#Header {
    background-color: #f3ebcf; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;


  /*nav */
  & .Explorar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #41848d; 
    padding: 10px 20px;
  }

  & .Explorar div.usuario {
    display: flex;
    align-items: center;
    
    &>label{
      cursor: pointer;
    }
  }

   & label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 15px;
    margin-left: 3px;
    display: flex;
    
  }
}

#Header .btn {
  background-color: #73a7a5;
  color: white;
  cursor: pointer;
  border: 3px solid transparent;
  
  &.abrir{
    border-radius: 8px;
    padding: 6px 50px;
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
  }
  &.abrir:hover{
    border-color: #11605d;
    transform: scale(1.1);
  }
  

  &.criar{
    border-radius: 8px;
    padding: 6px 50px;
    margin-left: 10px;
    font-size: 20px;
    transition: border-color 0.3s;
  }

  &.criar:hover{
    border-color: #11605d;
    transform: scale(1.1);
  }

  &.perfil{
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
  }
}

#Header .busca {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 350px;

  & input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
  }

  &>p.lupa-explorar {
    color: var(--cor-placeholder);
    font-size: 2rem;
    width: 45px;
    height: 45px;
    position: absolute;
    transform: scaleX(-1) translate(-0%, -50%);
    top: 50%;
    left: 85%;
    display: inline-block;
    cursor: pointer;
  }
}


